<h1>{{title}}</h1>
<app-heroes name="bellco"></app-heroes>
<h1 (mouseover)="onMouseOver()">{{message}}s</h1>
<h1>hi</h1>
<app-child (addItemEvent)="addItem($event)" (removeItemEvent)="removeItem($event)"></app-child>
<p>🐢 all the way down {{ items.length }}</p>

<h1>{{favoriteFramework}}</h1>

<label for="framework">
  Favorite Framework:
  <input id="framework" type="text"  [(ngModel)]="favoriteFramework" />
</label>

<input id="framework2" type="text"  [(ngModel)]="favoriteFood" />
<p>{{favoriteFood}}</p>

<button (click)="showFood()">Fav Food is:</button>
<router-outlet />

<form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
  <input type="text" formControlName="name" />
  <input type="email" formControlName="email" />
  <button type="submit">Submit</button>
</form>

<p>Name: {{ profileForm.value.name }}</p>
<p>Email: {{ profileForm.value.email }}</p>
